.contentContainer {
  display: grid;
  grid-template-columns: 230px 1fr;
}

.categoryContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 10px 0 0;
}

.categoryContainer a {
  background-color: #44b;
  color: white;
  padding: 0.5rem;

  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.categoryContainer a:hover {
  cursor: pointer;
  background-color: #228;
}

.shoppingItemsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 10px;
}

.shoppingItemsContainer .shoppingItem {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.shoppingItemsContainer .shoppingItem h2 {
  background-color: #44b;
  color: white;
  margin: 0;
  padding: 15px 10px;
}

.shoppingItemImage img {
  flex-grow: 1;
  width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: center;
}

.shoppingItem p {
  flex-grow: 1;
  padding: 0 10px;
  font-size: 16px;
}

.shoppingItem .shoppingItemActionBar {
  background-color: #44b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
}

.shoppingItemActionBar span {
  font-weight: 500;
}

.shoppingItemActionBar button {
  border: none;
  background-color: #228;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  padding-right: 5px;
  padding-top: 5px;
}

.shoppingItemActionBar button:hover {
  background-color: #44b;
  cursor: pointer;
}

.shoppingItemActionBar button img {
  width: 80%;
}
