footer {
  background-color: #44b;
  color: white;

  display: flex;
  justify-content: center;
  gap: 40px;
  padding-top: 20px;
}

.footerInfoContainer {
  margin: 10px;
}

.footerInfoContainer h2 {
  margin: 0;
  padding: 0;
}

.footerInfoContainer hr {
  color: white;
  width: 100%;
}

.footerInfoContainer a {
  color: white;
  text-decoration: none;
}

.footerInfoContainer a:hover {
  text-decoration: underline;
}

.footerInfoContainer li {
  list-style: none;
  transform: translateX(-38px) translateY(-8px);
  padding-bottom: 8px;
}
